<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST">
  <label
    >Airline:
    <select name="airline">
      <option value="AMERICAN">American</option>
      <option value="SOUTHWEST">Southwest</option>
      <option value="UNITED">United</option>
      <option value="ALASKA">Alaska Air</option>
    </select> </label
  ><br />
  <label>Flight Number: <input type="text" name="flightNo" /> </label><br />
  <label
    >Airport
    <select name="airport" type="text">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN" selected>DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select> </label
  ><br />
  <label
    >Departs
    <!-- <input type="date"> -->
    <input type="date" name="departs" value="<%= departsDate%>" /> </label
  ><br />

  <input type="submit" />
</form>

<%- include('../partials/footer') %>
